<mat-toolbar color="primary" class="expanded-toolbar">
  <button mat-button routerLink="/login">{{title}}</button>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button  routerLink="/login"> Login </button>
    <button mat-button routerLink="/signup">Sign Up</button>
    <button mat-button *ngIf="isAuthenticated" routerLink="/login" (click)="logout()"> Logout </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-button routerLink="/login"> Login </button>
  <button mat-button routerLink="/signup">Sign Up</button>
  <button mat-menu-item *ngIf="isAuthenticated" routerLink="/login" (click)="logout()"> Logout </button>
</mat-menu>
<router-outlet></router-outlet>